<div class="conteiner col-md-10 offset-md-1 center">
    <h2>{{title}}:  {{sucursalNombre}}</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="images/gym.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Listar</h5>
                    <p class="card-text">Listar las ventas de esta sucursal</p>
                    <a [routerLink]="['/sucursal/' + this.branchId + '/ventas/listar']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                        
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="images/gym.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Vender</h5>
                    <p class="card-text">Registrar ventas para esta sucursal</p>
                    <a [routerLink]="['/sucursal/' + this.branchId + '/ventas/vender']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                        
                </div>
            </div>
        </div>
    <!--
        <div *ngIf="this.loggedUserRole == 'adminMaster' || 'adminGlobal' || 'adminTienda'" class="col-md-4">
            <div class="card text-center">
                <img src="images/gym.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Vendedores</h5>
                    <p class="card-text">Aqui podras Crear y Administrar los vendedores para esta sucursal.</p>
                    <a [routerLink]="['/sucursal', this.branchId,'usuarios']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                                                                     
                </div>

            </div>
        </div>
    -->
    </div>
</div>