

<div class="row">
    <div class="col-md-8">
        <h2 mat-dialog-title>Seleccionar Productos: </h2>
    </div>
    
</div>
<hr>

<div class="container ">
    <h1></h1>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input autofocus  type="text" class="form-control" name="filtroProd" placeholder="Buscar..." [(ngModel)]="filtroProd" >
            </div>
        </div>
        <div class="col-md-2">
            <input type="number" min="0" onkeypress="(event.charCode >= 48 && event.charCode <= 57) || event.charCode == 13" class="form-control" placeholder="Cant = 1" [(ngModel)]="cantProductos" (change)="onChangeInputCantidad($event)">
        </div>

    </div>
    <div class="row">

    </div>
    <div class="row mat-elevation-z8">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>                        
                        <th>Producto</th>
                        <th>Codigo</th>
                        <th>Rubro</th>
                        <th>Precio</th>
                        <th>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr (click)="clickFila(producto.product.codigo)" *ngFor="let producto of listasdeprecios.ldpProducts | filtroproductos: filtroProd" >
                        <ng-container *ngIf="producto.precioVenta > 0 && producto.product.desactivado.estado != true">
                            <td>{{producto.product.productName}}</td>
                            <td>{{producto.product.codigo}}</td>
                            <td>{{producto.product.categoriaRubro.categoryName}}</td>
                            <td>{{producto.precioVenta | currency: '$'}}</td>
                            <td><mat-icon style="color: green;" (click)="addProduct(producto.product.codigo)">add_shopping_cart</mat-icon></td>
                        </ng-container>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="container">
    
    
</div>