<h1>C  O  M  P  R  A  S</h1>

  <div class="card ">
    <div class="card-header">
        Registro de compras
    </div>
    <div class="card-body">
      <p class="card-text">Complete el detalle de la compra a continuacion.</p>

      <form #compraForm="ngForm" (ngSubmit)="onSubmit(compraForm)">

        <div class="form-group row">
            <div class="col-md-2">Proveedor</div>
            <div class="form-group col-md-4">
                <select class="form-control" name="proveedor" id="proveedor" #proveedor="ngModel" [(ngModel)]="proveedorId" (change)="onChangeProveedor($event)" >
                <option disabled selected [value]="null">Seleccione proveedor</option>
                <option *ngFor="let proveedor of proveedores" [value]="proveedor._id">{{proveedor.proveedorName}}</option>            
                </select>
            </div>          
        </div>        

        <div class="form-group row">
            <div class="col-md-2">Producto</div>
            <div class="form-group col-md-4">
                <select class="form-control" [disabled]="habilitoEscaneearCod" name="producto" id="producto" #producto="ngModel" [(ngModel)]="productoId" (change)="onChangeProducto($event)" >
                <option disabled selected [value]="null">Seleccione el producto</option>
                <option *ngFor="let producto of productos" [value]="producto._id" >{{producto.productName}}</option>            
                </select>
            </div>
            <div class="form-group col-md-4">
                
                <input type="text" [disabled]="!habilitoEscaneearCod" class="form-control" id="prodCodigo" placeholder="Escanee el código" name="prodCodigo" #prodCodigo="ngModel" [(ngModel)]="productoCodigo" required>
                <input type="checkbox" name="habilitoEscaneearCod" [(ngModel)]="habilitoEscaneearCod" />
                <label for="checkbox">Habilitar</label>
            </div>       
        </div>

        <div class="form-group row">
          <label for="compraDate" class="col-sm-2 col-form-label">Fecha de compra</label>
          <div class="col-sm-3">
            <input name="fechaDeCompra" class="form-control"  [(ngModel)]="fechaDeCompra" type="date" required>
          </div>
          <label for="compraDate" class="col-sm-2 col-form-label">Fecha de Vencimiento</label>
          <div class="col-sm-3">
            <input [disabled]="!tieneVencimiento" class="form-control" name="date" [(ngModel)]="fechaDeVencimiento" type="date">
            <input type="checkbox" name="tieneVencimiento" [(ngModel)]="tieneVencimiento" />
            <label for="checkbox">Habilitar</label>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPrecio" class="col-sm-2 col-form-label">Precio Unitario $</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="inputPrecio" placeholder="Precio" name="inputPrecio" #inputPrecio="ngModel" [(ngModel)]="precioUnitario" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputCantidad" class="col-sm-2 col-form-label">Cantidad de Unidades/KG/Lts</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="inputCantidad" placeholder="Cantidad" name="inputCantidad" #inputCantidad="ngModel" [(ngModel)]="cantidad" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCantidad" class="col-sm-2 col-form-label">Informacion relevante a considerar</label>
          <div class="col-sm-6">
            <textarea class="form-control" id="textareaInfo" placeholder="Informacion que considere de utilidad" name="textareaInfo" #textareaInfo="ngModel" [(ngModel)]="comentario" >

            </textarea>
          
          </div>
        </div>
     
       
        
        <div class="form-group row">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary" [disabled]="!compraForm.form.valid  ">Confirmar</button>
              </div>
              
              <div class="col-md-8">
                  
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-danger" [routerLink]="['/sucursal/'+ this.branchId+'/compras/']">Cancelar</button>
              </div>
            </div>
          
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="!proveedorSeleccionado && proveedor.touched">
                Seleccione un <strong>proveedor</strong> para poder confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="(!productoSeleccionado && producto.touched) || (prodCodigo.touched && !prodCodigo.valid)">
              Seleccione un <strong>producto</strong> para poder confirmar!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

     <!--       <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="proveedorNroCto.touched && !proveedorNroCto.valid">
                Ingrese un <strong>numero de telefono valido </strong> para poder confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="proveedorEmailCto.touched && !proveedorEmailCto.valid">
                Ingrese un <strong>Email valido </strong> para poder confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
         
-->

          </div>
         
        </div>

      </form>

