<div class="row">
    <div class="col-md-8">
        <h2 mat-dialog-title>VENTAS: </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field appearance="fill">
            <mat-label>Categorias</mat-label>
            <mat-select [(value)]="selectedCategoria" (selectionChange)="graficarVentas(selectedCategoria)" >
              <mat-option [value]="'Todas'">Todas</mat-option>
              <mat-option [value]="option" *ngFor="let option of categorias" >{{ option }}</mat-option>
              
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-8">
        <mat-radio-group aria-label="Select an option" (change)="graficarVentas(selectedCategoria)" [(ngModel)]="selectedDataType">
            <mat-radio-button [checked]="true" style="padding-left: 10px" value="Unidades" >Unidades</mat-radio-button>
            <mat-radio-button [checked]="false" style="padding-left: 10px"value="Monto" >Monto$</mat-radio-button>
        </mat-radio-group>

    
    </div>
</div>



<hr>
<div class="row">
    <div class="example-container mat-elevation-z8">

      <h1 class="text-center mt-3">Total de Ventas</h1>
      
      <div class="col-auto p-2 text-center">
        <ngx-charts-bar-vertical
          [view]="view"
          [results]="graphDataTodas"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [showDataLabel]="showDataLabels"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>