<div class="conteiner col-md-10 offset-md-1 center">
    <h2>S U C U R S A L E S</h2>
    
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://static7.depositphotos.com/1157520/747/v/600/depositphotos_7474647-stock-illustration-strip-mall.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nueva Sucursal</h5>
                        <p class="card-text">Desde aquí, podras dar de alta nuevas sucursales para esta tienda.</p>
                        <a [routerLink]="['/tienda/' + this.storeId + '/sucursales/crearSucursal']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
 
        </div>
    

    </div>

 
