<hr>

<div class="card ">
  <div class="card-header">
      <strong>E  S  T  A  D  I  S  T  I  C  A  S</strong> de la <strong>  T  I  E  N  D  A </strong>
  </div>    

  <div class="card-body">

    <div class="row">
      <div class="col-auto ml-5 justify-content-around">
          
        <mat-form-field appearance="legacy"  color=accent>
          <mat-label>Año</mat-label>
          <input [(ngModel)]="yearVentas" type="number" matInput value={{yearVentas}} min="2022" max="2023">
          <mat-hint>Ventas</mat-hint>
        </mat-form-field>
        
        <button mat-button color="accent" (click)="updateData2()" ><mat-icon>refresh</mat-icon>Actualizar</button>

        
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="example-container mat-elevation-z8">
      <h1 class="text-center mt-3">Total de Ventas</h1>
      

      <div >
        <ngx-charts-bar-vertical
          [view]="view"
          [results]="totalVtasYearGeneral"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [showDataLabel]="showDataLabels"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
  <hr>
</div>