

<h1>L  i  s  t a     D e    P  r  e  c  i  o  s</h1>

  <div class="card ">
    <div class="card-header">
        Registro de listas de precios
    </div>
    <div class="card-body">

      <form #ldpForm="ngForm" (ngSubmit)="onSubmit(ldpForm)">

        
        <div class="form-group row">
            <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control col-sm-12" id="nombre" name="nombre" placeholder="Ingrese un nombre para la nueva lista de precios" #nombre="ngModel" [(ngModel)]="ldpNombre" required >
            </div>
            <div class="col">
                <label for="fecha">Fecha</label>
                <input disabled type="date" class="form-control col-sm-4" name="fechaDeCreacion" [(ngModel)]="fechaDeCreacion" >
            </div>
        </div>
        <div class="form-group row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="Ej.. Lista de precios general aplicable a cualquier sucursal..." name="descripcion" #descripcion="ngModel" [(ngModel)]="ldpDescripcion" required></textarea>
          </mat-form-field>

        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <mat-form-field appearance="fill">
              <mat-label>Referencias de costos/stock</mat-label>
              <mat-select [(value)]="referenciaCostosStock">
                <mat-option value="" (onSelectionChange)="actualizarRefCostosStock($event)">SinReferencia</mat-option>
                <mat-option *ngFor="let branch of branchesByStore" value={{branch._id}} (onSelectionChange)="actualizarRefCostosStock($event)">{{branch.branchName}}</mat-option>             
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <ng-container *ngIf='listaOrigenIdparaClonar != ""'>
              <button type="submit" class="btn btn-outline-success" (click)="openDialogAjusteMasivoPreios(_productsList)">Ajuste Masivo de precios</button>
              <!--<button mat-raised-button color="primary" (click)="openDialogPrecio(_productsList[i].costoUnitario, _productsList[i].productName, _productsList[i].precioVenta, i)">Edit</button>-->
            </ng-container>
            
          </div>
        </div>




        <table id="dtBasicExample" class="table table-hover td.fit th.fit" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="white-space: nowrap;" class="th-sm">#</th>
              <th style="white-space: nowrap;" class="th-sm">Producto</th>
              <th style="white-space: nowrap;" class="th-sm">Rubro</th>
              <th style="white-space: nowrap;" class="th-sm">Codigo</th>
              <th style="white-space: nowrap;" class="th-sm">Stock</th>
              <th style="white-space: nowrap;" class="th-sm">Fecha Ultima Compra</th>
              <th style="white-space: nowrap;" class="th-sm">Costo</th>
              <th style="white-space: nowrap;" class="th-sm">Precio de venta</th>
              <th style="vertical-align:middle;" class="th-sm" >Dif</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of _productsList; let i = index">
            <tr>
              <td style="white-space: nowrap;" class="align-middle">{{i}}</td>
              <td style="white-space: nowrap;" class="align-middle" >{{_productsList[i].productName}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].rubro}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].codigo}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].stock}}</td>
              
              <ng-container *ngIf='_productsList[i].fechaUltimaCompra && _productsList[i].fechaUltimaCompra === "-"; else fechaCompra'>
                  <td style="white-space: nowrap;" class="align-middle">-</td>
              </ng-container>
              <ng-template #fechaCompra >
                  <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].fechaUltimaCompra |  date:'MM/dd/yyyy h:mm:ss' }} </td>
              </ng-template>
              
              <ng-container *ngIf='_productsList[i].fechaUltimaCompra === "-"; else precioCompra'>
                  <td style="white-space: nowrap;" class="align-middle">-</td>
              </ng-container>
              <ng-template #precioCompra>
                  <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].costoUnitario | currency: '$'}}</td>
              </ng-template>

              <td style="white-space: nowrap;" class="align-middle" >{{_productsList[i].precioVenta | currency: '$'}}</td>

              <td style="white-space: nowrap;" class="align-middle">
                  <div class="row">
                      <div class="col center" >                          
                          <ng-container class="center" *ngIf='_productsList[i].fechaUltimaCompra != "-" && _productsList[i].precioVenta > 0; else diferencia'>
                            <ng-container class="centerPositive" *ngIf='_productsList[i].precioVenta - _productsList[i].costoUnitario > 0; else negativo'>
                              <td style="white-space: nowrap; border-top: none;" class="align-middle centerPositive">{{_productsList[i].precioVenta - _productsList[i].costoUnitario |  currency: '$' }} </td>
                            </ng-container>
                            <ng-template class="centerNegative" #negativo>
                              <td style="white-space: nowrap; border-top: none;" class="align-middle centerNegative">{{_productsList[i].precioVenta - _productsList[i].costoUnitario |  currency: '$' }} </td>
                            </ng-template>  
                            
                          </ng-container>
                          <ng-template class="center" #diferencia>
                            <td style="white-space: nowrap;" class="align-middle">-</td>  
                          </ng-template>
                      </div>
                      <div class="col">
                          <button mat-raised-button color="primary" (click)="openDialogPrecio(_productsList[i].costoUnitario, _productsList[i].productName, _productsList[i].precioVenta, i)">Edit</button>
                      </div>
                  </div>
              </td>

            </tr>            
          </tbody>
        </table>
        <div class="form-group row">
          <div class="col-sm-10">
            <button (click)="registrarListaDePrecios()" class="btn btn-primary" [disabled]="!ldpForm.form.valid ">Crear</button>
            
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="nombre.touched && !nombre.valid">
                Ingrese un <strong>nombre </strong> para la nueva <strong>Lista de precios</strong> antes confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="descripcion.touched && !descripcion.valid">
                Ingrese una <strong>descripción </strong> del uso que se le datá a la nueva Lista de Precios para poder confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>



          </div>
          <div class="coll-ms-2">
            <button type="submit" class="btn btn-outline-danger" [routerLink]="['/tienda/' + this.storeId + '/ldp/']" [routerLinkActive]="['actived']" [routerLinkActive]="['actived']" >Volver</button>
          </div>
          
        </div>      
      </form>

