

<h1>L  i  s  t a     D e    P  r  e  c  i  o  s</h1>

  <div class="card ">
    <div class="card-header">
        Registro de listas de precios
    </div>
    <div class="card-body">

      <form #ldpForm="ngForm" (ngSubmit)="onSubmit(ldpForm)">

        
        <div class="form-group row">
            <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control col-sm-12" id="nombre" name="nombre" placeholder="Ingrese un nombre para la nueva lista de precios" #nombre="ngModel" [(ngModel)]="ldpNombre" required >
            </div>
            <div class="col">
                <label for="fecha">Fecha</label>
                <input disabled type="date" class="form-control col-sm-4" name="fechaDeCreacion" [(ngModel)]="fechaDeCreacion" >
            </div>
        </div>
        <div class="form-group row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="Ej.. Lista de precios general aplicable a cualquier sucursal..." name="descripcion" #descripcion="ngModel" [(ngModel)]="ldpDescripcion" required></textarea>
          </mat-form-field>

        </div>

        <div class="row">
          <div class="col-sm-6">                
            <ng-container *ngIf='listaOrigenIdparaClonar != ""'>
              <button type="submit" class="btn btn-outline-success" (click)="openDialogAjusteMasivoPreios(_productsList, 'precioVenta')">Ajuste masivo de precios en funcion del PRECIO DE VENTA actual</button>              
            </ng-container>            
          </div>
          <div class="col-sm-6">              
            <ng-container *ngIf='listaOrigenIdparaClonar != ""'>              
              <button type="submit" class="btn btn-outline-success" (click)="openDialogAjusteMasivoPreios(_productsList,'costo')">Ajuste masivo de precios en funcion del COSTO registrado</button>
              <!--<button mat-raised-button color="primary" (click)="openDialogPrecio(_productsList[i].costoUnitario, _productsList[i].productName, _productsList[i].precioVenta, i)">Edit</button>-->
            </ng-container>            
          </div>
        </div>
     <p> </p>
        



<!--

        <table id="dtBasicExample" class="table table-hover td.fit th.fit" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="white-space: nowrap;" class="th-sm">#</th>
              <th style="white-space: nowrap;" class="th-sm">Producto</th>
              <th style="white-space: nowrap;" class="th-sm">Rubro</th>
              <th style="white-space: nowrap;" class="th-sm">Codigo</th>
              <th style="white-space: nowrap;" class="th-sm">Stock</th>
              <th style="white-space: nowrap;" class="th-sm">Fecha Ultima Compra</th>
              <th style="white-space: nowrap;" class="th-sm">Costo</th>
              <th style="white-space: nowrap;" class="th-sm">Precio de venta</th>
              <th style="vertical-align:middle;" class="th-sm" >Dif</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of _productsList; let i = index">
            <tr>
              <td style="white-space: nowrap;" class="align-middle">{{i}}</td>
              <td style="white-space: nowrap;" class="align-middle" >{{_productsList[i].productName}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].rubro}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].codigo}}</td>
              <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].stock}}</td>
              
              <ng-container *ngIf='_productsList[i].fechaUltimaCompra && _productsList[i].fechaUltimaCompra === "-"; else fechaCompra'>
                  <td style="white-space: nowrap;" class="align-middle">-</td>
              </ng-container>
              <ng-template #fechaCompra >
                  <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].fechaUltimaCompra |  date:'MM/dd/yyyy h:mm:ss' }} </td>
              </ng-template>
              
              <ng-container *ngIf='_productsList[i].fechaUltimaCompra === "-"; else precioCompra'>
                  <td style="white-space: nowrap;" class="align-middle">-</td>
              </ng-container>
              <ng-template #precioCompra>
                  <td style="white-space: nowrap;" class="align-middle">{{_productsList[i].costoUnitario | currency: '$'}}</td>
              </ng-template>

              <td style="white-space: nowrap;" class="align-middle" >{{_productsList[i].precioVenta | currency: '$'}}</td>

              <td style="white-space: nowrap;" class="align-middle">
                  <div class="row">
                      <div class="col center" >                          
                          <ng-container class="center" *ngIf='_productsList[i].fechaUltimaCompra != "-" && _productsList[i].precioVenta > 0; else diferencia'>
                            <ng-container class="centerPositive" *ngIf='_productsList[i].precioVenta - _productsList[i].costoUnitario > 0; else negativo'>
                              <td style="white-space: nowrap; border-top: none;" class="align-middle centerPositive">{{_productsList[i].precioVenta - _productsList[i].costoUnitario |  currency: '$' }} </td>
                            </ng-container>
                            <ng-template class="centerNegative" #negativo>
                              <td style="white-space: nowrap; border-top: none;" class="align-middle centerNegative">{{_productsList[i].precioVenta - _productsList[i].costoUnitario |  currency: '$' }} </td>
                            </ng-template>  
                            
                          </ng-container>
                          <ng-template class="center" #diferencia>
                            <td style="white-space: nowrap;" class="align-middle">-</td>  
                          </ng-template>
                      </div>
                      <div class="col">
                          <button mat-raised-button color="primary" (click)="openDialogPrecio(_productsList[i].costoUnitario, _productsList[i].productName, _productsList[i].precioVenta, _productsList[i].codigo)">Edit</button>
                      </div>
                  </div>
              </td>

            </tr>            
          </tbody>
        </table>
        -->
        <hr>
<!---------------------------------------------------------->
<div class="row">
  <div class="col-sm-3">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-2">
        <mat-form-field appearance="fill">
          <mat-label>Referencias de costos/stock</mat-label>
          <mat-select [(value)]="referenciaCostosStock">
            <mat-option value="" (onSelectionChange)="actualizarRefCostosStock($event)">SinReferencia</mat-option>
            <mat-option *ngFor="let branch of branchesByStore" value={{branch._id}} (onSelectionChange)="actualizarRefCostosStock($event)">{{branch.branchName}}</mat-option>             
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>      
      <!-- ID Column -->
      <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="costoUnitario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
          <td mat-cell *matCellDef="let row"> 
            <ng-container *ngIf="row.costoUnitario">
              {{row.costoUnitario | currency: '$'}} 
            </ng-container>
          </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="fechaUltimaCompra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ult Compra </th>
          <td mat-cell *matCellDef="let row"> 
              <ng-container *ngIf="row.fechaUltimaCompra !== '-'">
                  {{row.fechaUltimaCompra |  date:'MM/dd/yyyy h:mm:ss'}} 
              </ng-container>
              
          </td>
      </ng-container>

      <ng-container matColumnDef="precioVenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Vta </th>
          <td mat-cell *matCellDef="let row"> {{row.precioVenta | currency: '$'}} </td>
      </ng-container>

      <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
          <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="rubro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rubro </th>
          <td mat-cell *matCellDef="let row"> {{row.rubro}} </td>
      </ng-container>

      <!-- Diff Column -->
      <ng-container matColumnDef="Diff">
        <th mat-header-cell *matHeaderCellDef> Diferencia </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.costoUnitario && row.precioVenta">
            <ng-container class="centerPositive" *ngIf='row.precioVenta - row.costoUnitario > 0; else negativo'>              
              <td style="white-space: nowrap; border-top: none;" class="align-middle centerPositive">{{row.precioVenta - row.costoUnitario |  currency: '$' }} </td>
            </ng-container>
            <ng-template class="centerNegative" #negativo>
              <td style="white-space: nowrap; border-top: none;" class="align-middle centerNegative">{{row.precioVenta - row.costoUnitario |  currency: '$' }} </td>
            </ng-template> 
              
          </ng-container>        
        </td>
      </ng-container>

      <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
          <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon style="-webkit-text-fill-color:blue" (click)="openDialogPrecio(row.costoUnitario, row.productName, row.precioVenta, row.codigo)">open_in_browser</mat-icon>
          <!--<button mat-raised-button color="primary" (click)="openDialogPrecio(row.costoUnitario, row.productName, row.precioVenta, 3)">Edit</button>-->
        </td>
      </ng-container>

      
      
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<hr>
<!---------------------------------------------------------->






        <div class="form-group row">
          <div class="col-sm-10">
            <button (click)="registrarListaDePrecios()" class="btn btn-primary" [disabled]="!ldpForm.form.valid ">Crear</button>
            
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="nombre.touched && !nombre.valid">
                Ingrese un <strong>nombre </strong> para la nueva <strong>Lista de precios</strong> antes confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="descripcion.touched && !descripcion.valid">
                Ingrese una <strong>descripción </strong> del uso que se le datá a la nueva Lista de Precios para poder confirmar!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>



          </div>
          <div class="coll-ms-2">
            <button type="submit" class="btn btn-outline-danger" [routerLink]="['/tienda/' + this.storeId + '/ldp/']" [routerLinkActive]="['actived']" [routerLinkActive]="['actived']" >Volver</button>
          </div>
          
        </div>      
      </form>

