
<div class="conteiner col-md-10 offset-md-1 center">
    <h2>{{title}}</h2>
    <div *ngIf="this.ruta == 'tienda'">Esto es una tienda.
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st.depositphotos.com/1062085/3424/v/450/depositphotos_34240261-stock-illustration-website-and-mobile-analytics-concept.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Estadisticas</h5>
                        <p class="card-text">Aqui podras consultar estadisticas de ventas por sucursal, por usuario, por fechas y horarios</p>
                        <a [routerLink]="['/tienda', this.storeId,'estadisticas']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st2.depositphotos.com/4520249/7099/v/450/depositphotos_70995579-stock-illustration-team-people-users-icon.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Acceda a esta seccion para administrar usuarios y sus permisos</p>
                        <a [routerLink]="['/tienda', this.storeId,'usuarios']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                                                                     
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st3.depositphotos.com/4441075/13443/v/450/depositphotos_134436428-stock-illustration-simple-barcode-icon.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Productos</h5>
                        <p class="card-text">Desde aquí podrás definir los productos que se comercializan en esta tienda.</p>
                        <a [routerLink]="['/tienda', this.storeId,'productos']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://static6.depositphotos.com/1003264/539/i/450/depositphotos_5399216-stock-photo-alphabetical-filing-tray.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Categorias</h5>
                        <p class="card-text">Desde aquí podrás definir los rubros/categorias que agruparán los productos a comercializar.</p>
                        <a [routerLink]="['/tienda', this.storeId,'categorias']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st2.depositphotos.com/4681751/6993/v/450/depositphotos_69939057-stock-illustration-discount-price-tags.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Listas de Precios</h5>
                        <p class="card-text">Desde aquí podrás definir diferentes listas de precios que luego aplicaras a una o mas sucursales.</p>
                        <a [routerLink]="['/tienda', this.storeId,'ldp']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st.depositphotos.com/1987177/3357/v/450/depositphotos_33570321-stock-illustration-on-line-store-sale-laptop.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sucursales</h5>
                        <p class="card-text">Desde aquí podrás administrar las sucursales para esta tienda.</p>
                        <a [routerLink]="['/tienda', this.storeId,'sucursales']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div *ngIf="this.ruta == 'sucursal'">Esto es una sucursal.
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://st.depositphotos.com/1570716/2680/i/450/depositphotos_26801583-stock-photo-buy-now-button-on-the.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Compras</h5>
                        <p class="card-text">En esta sección podrás registrar el ingreso de mercaderias.</p>
                        <a [routerLink]="['/sucursal/' + this.branchId + '/compras']" [routerLinkActive]="['actived']" (click)="envioStoreId()"><span>Click aquí</span></a>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://static3.depositphotos.com/1000847/128/i/450/depositphotos_1289753-stock-photo-industrial-warehouse.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Stock</h5>
                        <p class="card-text">Lleva un control de los productos en stock</p>
                        <a [routerLink]="['/sucursal/' + this.branchId + '/stock']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://static7.depositphotos.com/1005979/765/i/450/depositphotos_7653504-stock-photo-sell-word-on-red-round.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ventas</h5>
                        <p class="card-text">Comenzar a vender productos.</p>
                        <!--
                        <a [routerLink]="['/sucursal/' + this.branchId + '/ventas']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                        -->
                        <a [routerLink]="['/sucursal/' + this.branchId + '/ventas/listar']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                        
                    </div>
                </div>
            </div>
            
            <div *ngIf="this.loggedUserRole == 'adminMaster' || 'adminGlobal' || 'adminTienda'" class="col-md-4">
                <div class="card text-center">
                    <img src="https://st3.depositphotos.com/4881653/18029/v/450/depositphotos_180296808-stock-illustration-sellers-with-phone-tablet-and.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vendedores</h5>
                        <p class="card-text">Aqui podras Crear y Administrar los vendedores para esta sucursal.</p>
                        <a [routerLink]="['/sucursal', this.branchId,'usuarios']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>                                                                     
                    </div>

                </div>
            </div>
            <div *ngIf="this.loggedUserRole == 'adminMaster' || 'adminGlobal' || 'adminTienda'" class="col-md-4">
                <div class="card text-center">
                    <img src="https://st2.depositphotos.com/4681751/6993/v/450/depositphotos_69939057-stock-illustration-discount-price-tags.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lista de precios</h5>
                        <p class="card-text">Aqui podrás asignar la lista de precios por defecto para esta sucursal.</p>
                        <a [routerLink]="['/tienda', this.branchId,'ldp']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>

                </div>
            </div>
            <div *ngIf="this.loggedUserRole == 'adminMaster' || 'adminGlobal' || 'adminTienda'" class="col-md-4">
                <div class="card text-center">
                    <img src="https://st.depositphotos.com/1062085/3424/v/450/depositphotos_34240261-stock-illustration-website-and-mobile-analytics-concept.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Estadisticas</h5>
                        <p class="card-text">Aqui podras consultar estadisticas para esta sucursal.</p>
                        <a [routerLink]="['/sucursal', this.branchId,'estadisticas']" [routerLinkActive]="['actived']"><span>Click aquí</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>

 
