<hr>

<div class="card ">
  <div class="card-header">
      <strong>E  S  T  A  D  I  S  T  I  C  A  S</strong>
  </div>    

  <div class="card-body">

    <div class="row">
      <div class="col-auto ml-5 justify-content-around">
          
        <mat-form-field appearance="legacy"  color=accent>
          <mat-label>Año</mat-label>
          <input [(ngModel)]="yearVentas" type="number" matInput value={{yearVentas}} min="2022" max="2023">
          <mat-hint>Ventas</mat-hint>
        </mat-form-field>
        
        <button mat-button color="accent" (click)="updateData2()" ><mat-icon>search</mat-icon>Actualizar</button>

        
      </div>

    </div>
  </div>
  <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">$Ventas anuales por mes</h1>
        <div class="col-auto p-2 text-center">
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalVtasPorMesGeneral"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]="showDataLabels"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">$Ventas anuales por forma de pago</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical-2d [barPadding]="1"
            [view]="view"            
            [results]="totalVtasPorMesGeneralFTyTJ" 
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            
            [barPadding]="1"
            [legendPosition]="below"
            >
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Transac anuales por mes</h1>
        <div class="col-auto p-2 text-center">
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalTransacPorMesGeneral"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            [showDataLabel]="showDataLabels"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Transac anuales por forma de pago</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical-2d [barPadding]="1"
            [view]="view"            
            [results]="totalTransacPorMesGeneralFTyTJ" 
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            [legendTitle]="legendTitle"
            
            [barPadding]="1"
            [legendPosition]="below"
            >
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">$Ventas anuales por vendedor</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalVentasPorVendedorAnual"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]="showDataLabels"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Transacciones anuales por vendedor</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalTransacPorVendedorAnual"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            [showDataLabel]="showDataLabels"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
          
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Ventas por Vendedor mensual</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical-2d [barPadding]="1"
            [view]="view"            
            [results]="totalVentasPorVendedorMensual" 
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            
            [barPadding]="1"
            [legendPosition]="below"
            >
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Transacciones por Vendedor mensual</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical-2d [barPadding]="1"
            [view]="view"            
            [results]="totalTransacPorVendedorMensual" 
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            [legendTitle]="legendTitle"
            
            [barPadding]="1"
            [legendPosition]="below"
            >
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">10 Productos mas vendidos en el año</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalProdMasVendidosAnual"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel2"
            [showDataLabel]="showDataLabels"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">10 Productos mas vendidos por mes</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-vertical-2d [barPadding]="1"
            [view]="view2"            
            [results]="totalProdMasVendidosMensual" 
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel2"
            [legendTitle]="legendTitle"            
            [barPadding]="1"
            [legendPosition]="below"
            >
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>


    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Representacion de ingresos por productos vendidos</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-bar-horizontal-normalized
            [view]="view"            
            [results]="totalProdMasVendidos$Mensual"
            [gradient]="gradient"
            [xAxis]="showXAxisFalse"
            [yAxis]="showYAxis"
            [legend]="showLegendFalse"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-horizontal-normalized>
        </div>
      </div>
    </div>

    
</div>