<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <header class="text-center tm-site-header">
                <div class="tm-site-logo"></div>
                <img src="{{this.url}}/images/loro2/loro2.png" alt="Image" class="rounded-circle tm-img-timeline-small">
                <h1 class="pl-4 tm-site-title">Lengua de Loro, el sistema a tu medida.</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tm-video-container">
                <!--<video id="tm-welcome-video" class="tm-welcome-video" autoplay="" loop="" muted="">
                    
                    <source src="videos/video.mp4" type="video/mp4"> Your browser does not support the video tag.
                    </video>
                    <img src="{{this.url}}/images/loro2/loro2.png" alt="Image" class="tm-welcome-video">
                -->
                <p>
                    Vas a tener la posibilidad de crear y administrar tus propias tiendas TIENDAS, como asi tambien sus respectivas SUCURSALES.

                    Te estaras preguntando ¿para que quiero SUCURSALES si solo tengo una TIENDA?

                    Bueno, asi como nosotros empezamos de menor a mayor, creemos que vos tambien podes hacerlo.
                    Por eso te brindamos la posibilidad de organizarte por sucursales desde el arranque.

                    Pero eso no termina aca, vas a poder cargar tus PROVEEDORES, tus RUBROS, tus PRODUCTOS, tus COMPRAS y tambien tus VENTAS.
                    La planilla al lado del mostrador no va mas!, converti tu negocio en Super Saiyajin con estos modulos!
                </p>
                    

                </div>
            </div>
        </div>
    </div>
    <div class="container tm-container-2">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tm-welcome-text">Bienvenido a Lengua de Loro, </h2>
            </div>
        </div>
        <div class="row tm-section-mb">
            <div class="col-lg-12">
                <div class=" tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="{{this.url}}/images/estadisticas/estadisticas.png" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Estadisticas</h3>
                                <p class="colortext1" >Cuanto vendi?, presentacion de AFIP no te tenemos miedo!.</p>
                             <!--   <p class="tm-text-green float-right mb-0">New Event . 12 July 2018</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="{{this.url}}/images/usuarios/usuarios.png" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark-light tm-timeline-description">
                                <h3 class="tm-text-cyan tm-font-400">Usuarios</h3>
                                <p class="colortext2">El grupo de "amigos" que vos queres maneje tu tienda.</p>
                                <!--<p class="tm-text-cyan float-right mb-0">Another Story . 9 July 2018</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="{{this.url}}/images/proveedores/proveedores.png" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-yellow tm-font-400">Proveedores</h3>
                                <p class="colortext2">A alguien le tenes que comprar lo que vendes?. Registrá sus datos para que siempre los tengas a mano y sepas a quien llamar cuando ya no haya mas Fernet en la gondola.</p>
                                <!--<p class="tm-text-yellow float-right mb-0">Latest News . 30 June 2018</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="{{this.url}}/images/tiendas/tienda.png" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark-light tm-timeline-description">
                                <h3 class="tm-text-orange tm-font-400">Tienda</h3>
                                <p class="colortext1">
                                    <strong>- Estadisticas de Tienda:</strong> Fuaaa mas numeros de la tienda, esto es barbaro.
                                    <strong>- Usuarios de Tienda:</strong> Amigos pero que solo te caen bien en un solo lugar.
                                    <strong>- Productos:</strong> ;) Lo que vos vendes Campeon
                                    <strong>- Categorias:</strong> El cosito del coso. O mejor dicho, la familia de tu producto.
                                    <strong>- Listas de Precios:</strong> En este pais todo cambia, mas los precios, hacelo tranquilo con las listas.

                                </p>
                                <!--<p class="tm-text-orange float-right mb-0">New Project . 22 June 2018</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="tm-timeline-connector-vertical"></div>
                </div>
                <div class=" tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="{{this.url}}/images/sucursales/sucursales.png" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Sucursales</h3>
                                <p class="colortext2">
                                    <strong>- Compras: </strong>Vos queres saber cuando compraste Yogures la ultima vez y cuanto salio. Aca lo cargas y listo, te olvidas.
		                            <strong>- Stock: </strong>Si, te decimos cuanto stock tenes en tu tienda.
		                            <strong>- Ventas: </strong>Para que tendrias una tienda si no vendes, el dinero no crece de los arboles.
		                            <strong>- Vendedores: </strong>Tu amigo que tiene todo el chamuyo para vender.
		                            <strong>- Estadisticas de Sucursal: </strong> Naaa esto ya esta hilando muy finito en los numeros, es impresionante.
                                </p>
                                <!--<p class="tm-text-green float-right mb-0">New Event . 12 July 2018</p>-->
                            </div>
                        </div>
                    </div>                    
                </div>             

            </div>
        </div>
        <!--  row 
        <hr>
        <div class="row tm-section-mb tm-section-mt">
            <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                <h3 class="mt-2 mb-3 tm-text-gray">Nunc dictum consequat</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                <h3 class="mt-2 mb-3 tm-text-gray">Morbi ultrices tellus</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="mt-2 mb-3 tm-text-gray">Suspendisse dolor tortor</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum. In
                pharetra neque et eleifend venenatis.</p>
            </div>
        </div>
        -->
        <hr>
        <div class="row tm-section-mt">
            <div class="col-lg-6">
                <h3 class="mb-4 tm-text-gray">Our Location</h3>
                <!-- GOOGLE MAP -->
                <div id="google-map" class="text-center mb-5">
                <!-- How to change your own map point
                       1. Go to Google Maps
                       2. Click on your location point
                       3. Click "Share" and choose "Embed map" tab
                       4. Copy only URL and paste it within the src="" field below
                   -->
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108977.06049743267!2d-64.26455563007765!3d-31.399434069056795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432985f478f5b69%3A0xb0a24f9a5366b092!2zQ8OzcmRvYmE!5e0!3m2!1ses!2sar!4v1662727366359!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                   class="google-map-iframe" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
               </div>
           </div>
           <div class="col-lg-6 mb-5">
            <h3 class="mb-4 tm-text-gray">Ponete en contacto con nosotros</h3>
            <form action="#contact" method="post" class="tm-contact-form">
                <div class="row">
                    César Lopez - Juan Peralta
                </div>
                <div>
                   <strong> contactolenguadeloro@gmail.com</strong>
                </div>
                    
            </form>
        </div>
        <hr>
    </div>
    <hr>
    <!-- Footer 
    <footer class="row mt-5 mb-5">
        <div class="col-lg-12">
            <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                <span class="tm-current-year">2018</span> Your Company Name 
                
                | Design: <a href="http://templatemo.com/tm-517-timeless" class="tm-text-white">Timeless</a>
            </p>
        </div>
    </footer>
    -->
</div>
<!-- .container -->

<script src="js/jquery.min.js"></script>
<!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
<script src="js/templatemo-script.js"></script>
</body>