<hr>

<div class="card ">
  <div class="card-header">
      <strong>E  S  T  A  D  I  S  T  I  C  A  S</strong>
  </div>    

  <div class="card-body">
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Total de Ventas</h1>
        <div class="col-auto ml-5 justify-content-around">
          
          <mat-form-field appearance="legacy"  color=accent>
            <mat-label>Año</mat-label>
            <input [(ngModel)]="yearVentas" type="number" matInput value={{yearVentas}} min="2022" max="2023">
            <mat-hint>Ventas</mat-hint>
          </mat-form-field>
          
          <button (click)="updateData()">
            Actualizar
          </button>
          
        </div>

        <div class="col-auto p-2 text-center">
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalVentasPorTienda"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Cantidad de transacciones</h1>
        <div class="col-auto p-2 text-center">
          <ngx-charts-bar-vertical
            [view]="view"
            [results]="totalCantVtasPorTienda"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="example-container mat-elevation-z8">
        <h1 class="text-center mt-3">Cantidad de transacciones por forma de pago</h1>
        <div class="col-auto p-2 justify-content-around"  >
          <ngx-charts-advanced-pie-chart 
            [view]="view3"            
            [results]="totalTransacFormaDePagoGral"
            [gradient]="gradient"
            >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
    
   
  </div>
    

</div>



<!--
  <h1 class="text-center mt-5">FORMA DE PAGO</h1>
        <div class="col-auto p-5 text-center">
          <ngx-charts-advanced-pie-chart
          [view]="view1"            
          [results]="totalVtasYearGeneral"
          [gradient]="gradient1"
          >
          </ngx-charts-advanced-pie-chart>
-->







