
    
    <app-navbar [inputSideNav]="sideNav"></app-navbar>

    <!--
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    -->
   
    <mat-sidenav-container>
        <mat-sidenav #sideNav mode="side">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content style="height:1000px">
            
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>



