<h1>V E N T A S</h1>

  <div class="card ">
    <div class="card-header">
        Registro de venta
    </div>
    <div class="card-body">
      
      <form #ventaForm="ngForm" (ngSubmit)="onSubmit(ventaForm)">

        <div class="form-row">
            <div class="form-group col-md-2">
              <label for="vendedorName">Vendedor</label>
              <input type="text" class="form-control" id="vendedorName" placeholder="Nombre" name="vendedorName" [ngModel]="vendedorName" disabled>
              
            </div>
            <div class="form-group col-md-2">
              <label for="vendedorRole">Rol Asignado</label>
              <input type="text" class="form-control" id="vendedorRole" placeholder="Role" name="vendedorRole" [ngModel]="vendedorRole" disabled>
            </div>
            <div class="form-group col-md-2">
              <label for="fechaActual">Fecha</label>
              <input class="form-control" name="fechaActual" if="fechaActual" [ngModel]="fechaActual" type="date" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="selectLista">Lista de precios</label>
              <select class="form-control" name="listadp" #lista="ngModel" [(ngModel)]="listadpIdSeleccionada" (change)="onChangeLDP($event)" >
                <option disabled selected [value]="null">Seleccione el producto</option>
                <option *ngFor="let lista of listasdeprecios" [value]="lista._id" >{{lista.listaNombre}}</option>            
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="fechaActual">Fecha</label>
              <button name="selectProd" mat-raised-button color="primary" (click)="openDialogVenta()">Seleccionar Productos</button>
            </div>
            
        </div>
       
        <mat-card class="example-card">
          <mat-card-subtitle>Descripcion</mat-card-subtitle>
          <mat-card-content>          
            <p>{{listadpDescripcion}}</p>
          </mat-card-content>
        </mat-card>
        <hr>

        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="listaProdSeleccionados">
            <!-- Item Column -->
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let transaction"> {{listaProdSeleccionados.item}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
        
            <!-- Cost Column -->
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let transaction"> {{listaProdSeleccionados.cost | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>


      </form>

