<div class="container-fluid">
    <div class="sidenav">
        <div class="row menuSidebar">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <p></p>
                    <div *ngIf="itemMenuSeleccionado=='estadisticas'" class="testigo1"></div>
                    <a *ngIf="loggedUserRole==='adminMaster' || loggedUserRole==='adminGlobal'" [routerLink]="['/estadisticas']" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado('estadisticas', 'tienda.store._id', 'tienda.store.defaultListaDP')"><i class="fas fa-user" style="margin-right: 5%;"></i><span> Estadisticas</span></a>
                    <!--<a [routerLink]="['/estadisticas']" ><i class="far fa-chart-bar" style="margin-right: 5%;" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado('estadisticas', 'tienda.store._id', 'tienda.store.defaultListaDP')"></i><span>Estadisticas</span></a>-->
                    
                    <div *ngIf="itemMenuSeleccionado=='usuarios'" class="testigo1"></div>
                    <a *ngIf="loggedUserRole==='adminMaster' || loggedUserRole==='adminGlobal'" [routerLink]="['/usuarios']" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado('usuarios', 'tienda.store._id', 'tienda.store.defaultListaDP')"><i class="fas fa-user" style="margin-right: 5%;"></i><span> Usuarios</span></a>
                    
                    <div *ngIf="itemMenuSeleccionado=='proveedores'" class="testigo1"></div>
                    <a *ngIf="loggedUserRole==='adminMaster' || loggedUserRole==='adminGlobal'" [routerLink]="['/proveedores']" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado('proveedores', 'tienda.store._id', 'tienda.store.defaultListaDP')"><i class="fas fa-address-book" style="margin-right: 5%;"></i><span> Proveedores</span></a>

                    <a ><i class="fas fa-home" style="margin-right: 5%;"></i><span>Tiendas</span><i class="icono derecha fas fa-angle-down"></i></a>

                    <div *ngIf="loggedUser" class="sub-menu">                        
                        <div *ngFor="let tienda of loggedUser.tiendas " class="sub-menuTiendas ">
                            <!--<div *ngIf="itemMenuSeleccionadoId==tienda.store._id" class="test"></div>-->
                            <a  [routerLink]="['/tienda', tienda.store._id]" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado(tienda.store.storeName, tienda.store._id, tienda.store.defaultListaDP)"><span>{{tienda.store.storeName}}</span></a>
                            <div *ngFor="let branch of tienda.branches" class="sub-menuBranches">
                                <div *ngIf="itemMenuSeleccionadoId==branch._id" class="test"></div>
                                    <a [routerLink]="['/sucursal', branch._id]" [routerLinkActive]="['actived']" (click)="emitirItemMenuSeleccionado(branch.branchName, branch._id, branch.defaultListaDP)" ><i class="fa-solid fa-barcode"></i><span>{{branch.branchName}}</span></a>
                                
                            </div>
                        </div>
                        <div>
                            <a *ngIf="loggedUserRole=='adminMaster' || loggedUserRole==='adminGlobal'" href="/tienda/crearTienda"><span>Crear Tienda</span><i class="fa-solid fa-folder-plus"style="margin-left: 5%;"></i></a>
                        </div>
                        
                    </div>
                    
                </nav>
            </div>
            
        </div>
    </div>
</div>



