<h1>C  O  M  P  R  A  S</h1>

<div class="conteiner col-md-10 offset-md-1 center">
  <a [routerLink]="['/sucursal/'+ this.branchId+'/compras/registrarCompra']" [routerLinkActive]="['actived']"><span>Registrar Nueva Compra</span></a>
</div>

<table class="table">
  <div class="container">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  C  O  M  P  R  A  S: 
              </div>
              <div class="panel-body">
                  <table class="table table-condensed table-striped" >
                      <thead>
                          <tr>
                              <th>CompraId</th>
                              <th>Usuario</th>
                              <th>Proveedor</th>
                              <th>Fecha de compra</th>
                              <th>Producto</th>
                              <th>Cantidad</th>
                              <th>Precio Unitario</th>
                              <th>Total</th>
                          </tr>
                      </thead>
                      <!-- voy a recorrer todos los usuarios -->
                      <tbody *ngFor="let compra of comprasByBranchAndPopulatedInfo; let i = index;">
                        <tr data-bs-toggle="collapse" [attr.href]="'#tiendascollapse_' + i" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      
                          <td>{{compra._id}}</td>
                          <td>{{compra.userId.username}}</td>
                          <td>{{compra.proveedorId.proveedorName}}</td>
                          <td>{{compra.fechaDeCompra | date:'MM/dd/yyyy h:mm:ss'}}</td>
                          <td>{{compra.productId.productName}}</td>
                          <td>{{compra.cantidad}}</td>
                          <td>{{compra.precioCompraUnitario | currency: '$'}}</td>
                          <td>{{compra.precioCompraUnitario * compra.cantidad | currency: '$'}}</td>
                    
                          <td>
                              <p *ngIf="consultoEstadoEliminar(compra._id)==false">
                                  <a class="iconoenlinea" [routerLink]="['/productos/producto',compra._id]"><i class="fas fa-eye"></i>&nbsp;&nbsp;</a>
                                  <a class="iconoenlinea" [routerLink]="['/productos/editar/', compra._id]"><i class="fas fa-pen"></i>&nbsp;&nbsp;</a>
                                  <a (click)="pidoEliminar(compra._id)" class="iconoenlinea"><i class="fas fa-trash-alt"></i></a>
                              </p>
                              <p *ngIf="consultoEstadoEliminar(compra._id)==true">
                                  <a (click)="deleteUsuario(compra._id)"></a>
                                  <a (click)="deleteUsuario(compra._id)"><i class="fas fa-check" style="color: rgb(24, 185, 24);"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                  <a (click)="pidoCancelarEliminar()"><i class="fas fa-check" style="color: red;"></i></a>
                              </p>
                          </td>
                      </tr>

                          
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</table>
